|===
|Path|Type|Description|Required

{{#fields}}
|{{path}}
|{{type}}
|{{description}}
ifeval::[{{optional}} == false]
|icon:check[]
endif::[]
ifeval::[{{optional}} == true]
|icon:times[]
endif::[]

{{/fields}}
|===